.FlashMessage{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    color: #5b5b5b;
    background-color: #ccffc1;
    border: 1px solid #7bd468;
}
